p =t('details.section_1', scope: @form.i18n_scope)
p =t('details.section_2', scope: @form.i18n_scope)
p =t('details.section_3', scope: @form.i18n_scope).html_safe
p =t('details.section_4', scope: @form.i18n_scope)
