.address-lookup input {
  margin-right: 10px;
}

.address-lookup a {
  display: block;
}

#address-lookup-addresses {
  display: none;
}

.hide {
  display: none !important;
}

#address-lookup-manual-address {
  margin-bottom: 30px;
}