// .callout {
//   padding: 30px 15px;
//   margin-bottom: 30px;
//   text-align: center;

//   &.result {
//     background-color: $grey-1;
//     color: $white;
//   }

//   .check {
//     display: inline-block;
//     padding-right: 10px;
//   }

//   .reference-number {
//     @include core-36;
//     font-weight: bold;
//     display: block;
//   }
// }

.maintenance-notice p {
  border: 3px solid #005ea5;
  padding: 10px;
  font-size: 19px;
}

.govuk-cookie-banner {
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}