.form-control {
  width: 50%;

  @media (min-width: 0px) {
    width: 100%;
  }
  @media (min-width: 641px) {
    width: 50%;
  }
}

.block-label {
  float: left;

  @media (min-width: 0px) {
    float: none;
  }
  @media (min-width: 641px) {
    float: left;
  }
}

.form-control-smaller {
  width: 100%;

  @media (min-width: 641px) {
    width: 25%;
  }
}

.error .form-control {
  border: 1px solid #bfc1c3;
}

.error > .form-control {
  border: 4px solid #b10e1e;
}

.currency {
  display: inline-block;
  tbody & {
    margin-right: 2px;

    @media (min-width: 641px) {
      margin-right: 10px;
    }
  }
  tfoot & {
    margin-right: 2px;

    @media (min-width: 641px) {
      margin-right: 5px;
    }
  }
}
.frequency {
  tbody & {
    display: none;
    @media (min-width: 769px) {
      margin-left: 10px;
      display: inline-block;
    }
  }
  tfoot & {
    display: block;
    @media (min-width: 769px) {
      margin-left: 10px;
      display: inline-block;
    }
  }
}

table.income {
  input.form-control {
    width: 100%;

    @media (min-width: 641px) {
      width: 80%;
    }

    @media (min-width: 769px) {
      width: 50%;
    }
  }
}

.form-checkbox {
  display: table;

  input, span {
    display: table-cell;
  }
}
