.steps-panel {
  max-width: 640px;
  background-color: $grey-4;
  border: 1px solid $grey-2;
  padding: 20px 10px;

  @media (min-width: 641px) {
    padding: 30px;
  }
}

.text-panel {
  max-width: 640px;
}

.post {
  display: table;
  background-image: asset-url('icon-post.png');
  background-repeat: no-repeat;
  background-position: left middle;

  height: 145px;
  background-size: 145px 145px;
  padding-left: 165px;

  @media (min-width: 0px) {
    height: 100px;
    padding-left: 125px;
    background-size: 100px 100px;
  }

  @media (min-width: 641px) {
    height: 145px;
    background-size: 145px 145px;
    padding-left: 165px;
  }

  p {
    display: table-cell;
    vertical-align: middle;
  }
}

.restart-confirm {
  display: none;
  background: asset-url('icon-important-red.png') 15px 15px no-repeat;
  background-size: 34px 34px;
  padding-left: 65px;
  border-color: $error-colour;

  p:first-child {
    padding-top: 5px;
  }

  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: asset-url('icon-important-red-2x.png');
  }

  button.secondary {
    @media (min-width: 0) {
      display: block;
      width: 100%;
    }
    @media (min-width: 641px) {
      display: inline-block;
      width: auto;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .post {
    background-image: asset-url('icon-post-2x.png');
  }
}

.addresses-panel {
  border: 1px solid $border-colour;
  margin-top: 20px;
  width: 640px;
  padding: 20px 0;

  @media (min-width: 0px) {
    width: auto;
    max-width: 700px;
    padding: 30px 0;
  }

  .heading-small {
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: 641px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  .country:first-child {
    margin-bottom: 50px;

    @media (min-width: 641px) {
      margin-bottom: 0;
    }
  }

  li {
    padding-left: 10px;
    padding-right: 10px;

    @media (min-width: 641px) {
      padding-left: 30px;
      padding-right: 30px;
    }

    li {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .email {
    background-color: $grey-4;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .inset-list {
    ul {
      border-left: 2px solid $grey-3;
      padding-left: 10px;
    }

    li {
      margin-bottom: 0;
      font-size: 16px;
    }
  }
}

