.phase-banner {
  @include phase-banner($state: beta);
  max-width: 1020px;
  margin: 0 auto;
  border-bottom: none;

  p {
    margin: 0 30px;
    border-bottom: 1px solid $grey-3;
    padding-bottom: 10px;

    @media (min-width: 0px) {
      margin: 0 15px;
    }

    @media (min-width: 640px) {
      margin: 0 30px;
    }
  }
}
