p,
li,
.button {
  @include core-19;
}

.heading-with-lede {
  margin-bottom: 0.625em;
}

.step-info {
  @include core-24;
  color: $grey-1;
}

.hint {
  color: $grey-1;
}

strong {
  font-weight: bold;
}

.text {
  max-width: 40em;
}

// horrific override of moj-template
#global-header .header-proposition a#proposition-name:hover {
  text-decoration: none;
}

.dateFormatAccessible {
  letter-spacing: -1.6px;
}
