// utility classes used as overrides, therefore valid use of !important
// https://css-tricks.com/when-using-important-is-the-right-choice/

// case utilities
.transform-upper {
  text-transform: uppercase !important;
}

// js utilities
.js-only {
  display: none;

  .js-enabled & {
    display: block
  }
}

.js-hidden {
  display: none;
}

.block {
  display: block;
}

.visuallyhidden {
  display: none;
}

.panel-indent {
  border-left: 4px solid $govuk-border-colour;
  padding-left: 15px;
}

.currency {
  display: inline-block;
  margin-right: 10px;
}

label {
  span.optional {
    padding-left: 5px;
    color:  $govuk-secondary-text-colour;
  }
}
