#result-block
  = t('confirmation.success')
  =@response[:message]

p =t('confirmation.print')

h2 =t('confirmation.next_steps.header')
p =t('confirmation.next_steps.step.one')
p =t('confirmation.next_steps.step.two')
p =t('confirmation.next_steps.step.three')