
$govuk-global-styles: true;

@function frontend-font-url($filename) {
  @return font-url("govuk-frontend/govuk/assets/fonts/" + $filename);
}

@function frontend-image-url($filename) {
  @return image-url("govuk-frontend/govuk/assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;
@import "govuk-frontend/govuk/all";



// /*local*/
@import 'local/phase-banner';
@import 'local/panels';
@import 'local/utilities';
@import 'local/lists';
