#global-header-bar,
.phase-banner,
.js-print,
.heading-secondary {
  display: none;
}

.heading-large {
  font-size: 24pt;
}

li {
  font-size: 16pt;
  margin-bottom: 1em;
}

.notice {
  font-size: 18pt;
}

.number {
  font-size: 18pt;
  padding: 1em;
  border: 1pt solid #000;
  display: table;
  margin-top: 1em;
}
