#global-header-bar,
.phase-banner,
.no-print,
.heading-secondary {
  display: none;
}

.govuk-heading-l {
  font-size: 24pt;
  font-family: 'GDS Transport', Arial, sans-serif
}

li {
  font-size: 18pt;
  margin-bottom: 1em;
  font-family: 'GDS Transport', Arial, sans-serif
}

.notice {
  font-size: 18pt;
  font-family: 'GDS Transport', Arial, sans-serif
}

.number {
  font-size: 18pt;
  padding: 1em;
  border: 1pt solid #000;
  display: table;
  margin-top: 1em;
}

.govuk-warning-text__text {
  font-size: 24pt;
}